
.container{border:#666; background-color:#DADADA}
.footer  {color:#fff;background:#000;margin-top:20px; padding:2px 2px 5px 0px }
.index-three-column{ width:auto; height:480px}
.product_img{ padding-left::400px}
